@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #b993d6, #8ca6db);
}

section {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

header {
    font-size: 3rem;
    font-weight: bolder;
    text-align: start;
    margin-bottom: 24px;
    color: #333;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

form div {
    flex: 1 1 45%;
}

form div label {
    color: #333;
    font-weight: bold;
}

label[for="birthday"],
label[for="subject"],
label[for="gender"],
label[for="first-name"],
label[for="last-name"],
label[for="email"],
label[for="phone"] {
    display: block;
    margin-bottom: 4px;

}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 12px;
    border: 0.5px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.radio-gender {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.gender-label {
    font-weight: bold;
    align-self: flex-start;
}

.radio-options {
    display: flex;
    padding: 12px 12px 12px 0px;
    justify-content: center;
    gap: 20px; 
}

button[type="submit"] {
    background-color: #8ca6db;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.button-submit {
    flex: 1 1 100%;
    display: flex;
    justify-content: start;
}

